@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto';
}
.header-nav{
	position:relative;
	margin-bottom: 100px;
}
.post-head span{
	margin-left: 10px;
}
.post-head{
	margin-bottom: 50px;
}
.post-body{
	height:150px;
	text-overflow: ellipsis;
	text-align:justify;
}

.jumbotron{
	background-color: #111;
	box-shadow: 2px 5px 10px #333;
	color: #AAA;
}
textarea{
	max-height: 200px;
	min-height:200px;
	resize: vertical;
}
.error{
	border: 1px solid red;
}
table{
	margin:20px;
	padding:20px;
}
th{
	color:darkblue;
	padding:20px;
}
table tr td{
	padding:20px;
}
p{
	font-size: 15px;
	padding:10px;
}

.login-form{
	margin:10px;
}
.panel{
	margin:30px;
}

.posts{
	margin: 0px;
	padding: 0px;
	text-align: justify;
}

.label{
	margin-right: 5px;
}

big{
	margin: 15px;
}
.no-gutters{
	padding-right: 0px;
	padding-left: 0px;
}
.tag{
	margin-right: 10px;
}
.password-reset {
	max-width: 500px;
	margin: 50px auto;
	padding: 15px;
	border: 1px solid #EEE;
}
.password-reset input{
	margin: 10px auto 0px auto;
	padding: 5px;
}
