
.content{
	height:400px;
}
li{
	margin: 15px;
}
.align-right{
	position:relative;
}
.form{
	margin-top:20px;
}
textarea{
	max-height: 200px;
	min-height:200px;
	resize: vertical;
}
.error{
	border: 1px solid red;
}