
.content{
	height:400px;
}
li{
	margin: 15px;
}
.align-right{
	position:absolute;
	right:0px;
}
.form{
	margin-top:20px;
}
textarea{
	max-height: 200px;
	min-height:200px;
	resize: vertical;
}
.error{
	border: 1px solid red;
}
table{
	margin:20px;
	padding:20px;
}
th{
	color:darkblue;
	padding:20px;
}
table tr td{
	padding:20px;
}
p{
	font-size: 15px;
	padding:10px;
}

.btn-group{
	margin:auto;
}

.login-form{
	margin:30px;
}
.panel{
	position:relative;
	left:0;
	right:0;
}